@model WAD.Models.Reviewer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reviewer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoggedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoggedIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
