@model IEnumerable<WADFinal.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewrId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviews)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewrId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameId })
        </td>
    </tr>
}

</table>
